---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Navbar.astro';
import Main from '../components/Main.astro'
---

<Layout title="Join the email!">
	<div class="font-sans text-lg">
		<Nav />
		<Main />
	</div>
</Layout>
