<div class="bg-custom-beige rounded-lg mx-4 mt-8 p-6" style="height: 80vh;">
<!-- Headline -->
    <h1 class="text-custom-dark text-5xl font-normal text-center mt-24 mb-6 mx-auto max-w-2xl">
        All Your Fitness Tools, Working <span class="text-custom-orange">Together</span>
    </h1>

    <!-- Subheadline -->
    <p class="text-custom-dark text-xl text-center mb-14 mx-auto max-w-2xl font-extralight">
        We are building a complete suite of tools to help you achieve your fitness goals. Subscribe to our newsletter to get updates and emails about sports and fitness.
    </p>

    <!-- Mailchimp Form -->
    <div id="mc_embed_signup" class="mx-auto max-w-lg">
        <form action="https://splashtechinnovaitons.us9.list-manage.com/subscribe/post?u=2d78c3f5bb5fb2946621fa73c&amp;id=24f248e05f&amp;f_id=002be3e3f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate flex items-center space-x-4" target="_blank">
            <div id="mc_embed_signup_scroll" class="flex-grow">
                <div class="mc-field-group">
                    <input type="email" name="EMAIL" class="required email border border-gray-300 p-3 w-full rounded" id="mce-EMAIL" placeholder="Enter your email" required>
                </div>
            </div>
            <div class="flex-shrink-0">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button bg-custom-dark text-white py-3 px-6 rounded cursor-pointer">
            </div>
        </form>
    </div>
</div>
