<nav class="bg-custom-beige px-10 py-4 flex justify-between items-center">
    <!-- Brand -->
    <div class="text-custom-dark text-2xl font-bold">
        SplashTech
    </div>

    <!-- Contact Button -->
    <div>
        <a href="mailto:max@splashtechinnovations.com">
            <button class="bg-custom-dark text-white py-3 px-6 rounded cursor-pointer">
                Contact
            </button>
        </a>
    </div>
</nav>
